*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, a, p, img, ul, li, label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:root {
  --root-width: 300px;
  --root-max-height: 720px;
  --default-padding: 16px;
  --default-font-size: 14px;
}

html, body {
  width: var(--root-width);
  max-height: var(--root-max-height);
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, .3);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, .5);
  border-radius: 100px;
}

.container {
  overflow-y: scroll;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.wrapper {
  width: var(--root-width);
  padding: var(--default-padding);
  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}

.heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--default-padding);
  color: #69707a;
}

.name {
  font-size: 28px;
  font-weight: 200;
}

.content {
  font-size: var(--default-font-size);
  padding: 0 7px;
}

.time {
  font-size: var(--default-font-size);
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424242;
}

.tab {
  color: #1fc8db;
  cursor: pointer;
  display: flex;
  padding: 4px 0;
  &:hover {
    color: #847bb9;
  }
}

.favicon {
  width: var(--default-font-size);
  height: var(--default-font-size);
  margin-top: 3px;
}

.text {
  margin-left: 10px;
  width: 100%;
}
