@import '../shared/reset.css';

:root {
  --root-width: 300px;
  --default-padding: 16px;
  --default-font-size: 14px;
  --link-color: #1fc8db;
  --link-color-hover: #847bb9;
  --border-color: #eee;
  --text-color: #69707a;
}

.container {
  width: var(--root-width);
  overflow-y: scroll;
}

.box {
  padding: var(--default-padding);
  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--default-padding);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.name {
  font-size: 28px;
  font-weight: 100;
}

.time {
  font-size: var(--default-font-size);
  font-weight: 300;
}

.content {
  font-size: var(--default-font-size);
  padding: 0 7px;
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424242;
}

.tab {
  color: var(--link-color);
  cursor: pointer;
  display: flex;
  padding: 4px 0;
}

.tab:hover {
  color: var(--link-color-hover);
}

.favicon {
  width: var(--default-font-size);
  height: var(--default-font-size);
  margin-top: 3px;
}

.text {
  margin-left: 10px;
  width: 100%;
  font-family: "Noto Sans Japanese";
}
