*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, a, p, code, img, q, small, strong, dl, dt, dd, ol, ul, li, form, label, table, header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:root {
  --root-width: 300px;
  --root-max-height: 720px;
}

html, body {
  width: var(--root-width);
  max-height: var(--root-max-height);
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, .4);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, .5);
  border-radius: 100px;
}

.container {
  overflow-y: scroll;
}

.heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: #1fc8db;
  cursor: pointer;
  &:hover {
    color: #847bb9;
  }
}
