{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "react-css-modules", {
        "webpackHotModuleReloading": true,
        "generateScopedName": "[name]-[local]"
      }
    ],
    [
      "transform-runtime", {
        "regenerator": true
      }
    ]
  ]
}
