@import './constants';

.box {
  padding: var(--default-padding);
}

.box:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--default-padding);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.name {
  font-size: 28px;
  font-weight: 100;
}

.time {
  font-size: var(--default-font-size);
  font-weight: 300;
}

.content {
  font-size: var(--default-font-size);
  padding: 0 7px;
}
