@import '../shared/reset';
@import '../shared/constants';

.container {
  width: var(--root-width);
  overflow-y: scroll;
}

.none {
  height : 120px;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size:
}
