@import '../shared/reset.css';
@import '../shared/constants.css';

.container {
  width: 40vw;
  min-width: 480px;
  max-width: 520px;
  margin: 0 auto;
  font-weight: lighter;
  font-family: "Noto Sans Japanese";
}

.header {
  border-bottom: 1px solid #424242;
  padding: 16px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 36px;
}

.title {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.nav {
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.icon {
  color: #000;
}

.options {
  padding: 20px 0;
}

.context {
  font-size: 20px;
  padding: 10px 0;
}
