*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, a, p, code, img, q, small, strong, dl, dt, dd, ol, ul, li, form, label, table, header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body, {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 40vw;
  margin: 0 auto;
  font-weight: normal;
  font-family: "Noto Sans Japanese";
}

.header {
  border-bottom: 1px solid #424242;
  padding: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: 100;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
}

.nav {
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.icon {
  color: #000;
}

.options {
  padding: 20px 0;
}

.context {
  font-size: 20px;
  padding: 10px 0;
}

.option {
  padding: 10px;
  display: flex;
  align-items: center;
}
