:root {
  --root-width: 300px;
  --default-padding: 16px;
  --default-font-size: 14px;
  --main-color: #1fc8db;
  --border-color: #eee;
  --text-color: #69707a;
  --switcher-color: var(--main-color);
  --switcher-gradient: #23cde0;
  --link-color: var(--main-color);
  --link-color-hover: #847bb9;
}
