/****************************
    Font
****************************/

@import url('https://fonts.googleapis.com/css?family=Exo+2');

/****************************
    Reset
****************************/

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, a, p, code, img, q, small, strong, dl, dt, dd, ol, ul, li, form, label, table, header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/****************************
    Main
****************************/

:root {
}

html, body, {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
