.container {
  width: var(--root-width);
  overflow-y: scroll;
}

.heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: #1fc8db;
  cursor: pointer;
}

.link:hover {
  color: #847bb9;
}
