.container {
  width: 50vw;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #424242;
  padding: 20px 0;
}

.options {
  padding: 20px 0;
}

.context {
  font-size: 20px;
  padding: 10px 0;
}

.option {
  padding: 10px;
  display: flex;
  align-items: center;
}
